<div class= "bandFormContainer">
    <form action="/bands/addBand" method="post"> 
        <div>
            <label for="bandName">Band name:</label><br>
            <input type="text" id="bandName" name="bandName"><br><br>

            <label for="band-select">Place new band:</label>
            <div>
                <input type="radio" id="bandAbove" name="bandPlace" value="bandAbove" checked>
                <label for="bandAbove">above</label>
            </div>

            <div>
                <input type="radio" id="bandBelow" name="bandPlace" value="bandBelow">
                <label for="bandBelow">below</label>
            </div>

            <div>
                <select name="bands" id="bandSelect">
                    {% for name in names %}
                    <option value="{{name}}">{{name}}</option>
                    {% endfor %}
                </select>
            </div><br>

            <label for="trainingSelect">Training:</label>
            <div id="trainingList">
                <ul>
                    {% for course in training %}
                    <li><label for="{{course}}"> {{course}}</label>
                    <input type="checkbox" id="{{course}}" name="training" value="{{course}}"></li>
                    {% endfor %}
                </ul>
            </div><br>

            <label for="competencySelect">Competency:</label>
            <div>
                <select name="competencies" id="competencies" name="competencies">
                    {% for competency in competencies %}
                    <option value="{{competency}}">{{competency}}</option>
                    {% endfor %}
                </select>
            </div><br>

            <label for="responsiblities">Responsiblities:</label><br>
            <textarea class="responsiblities" id="responsiblities" name="responsiblities" cols="30" rows="10"></textarea><br><br>

            <input type="submit" id="addBand" value="Add Band"><br>
        </div>
    </form>
<div>