<body>
<div class = "nav">
<ul class = "nav">
  <li class = "nav"><a href="http://localhost:3001/">Home</a></li>
  <li class = "nav"><a href="#">All Jobs</a></li>
  <li class = "nav"><a href="#">Login</a></li>
</ul>
</div>
</body>
