{% block content %}
<div class="row">
<div class="col s2">
</div>
<h1>List of Job Roles</h1>
{% if jobs and jobs.length > 0 %}
<table style="margin: auto" border="1">
<tr>
<th><h3>Job Role ID</h3></th>
<th><h3>Job Role Name</h3></th>
<th><h3>Band Level</h3></th>
</tr>
{% for job in jobs %}
<tr>
<td>{{job.Role_ID}}</td>
<td>{{job.Name}}</td>
<td>{{job.Level}}</td>
</tr>
{% endfor %}
</table>
</div>
{% else %}
No Job Roles in database.
{% endif %}
{% endblock %}