{% block content %}
<div class="row">
<div class="col s2">
</div>
<h1>List of Families Based on Capability</h1>
{% if family and family.length > 0 %}
<table style="margin: auto">
<tr>
<th>Capability</th>
<th>Family Name</th>
</tr>
{% for fam in family %}
<tr>
<td>{{fam.Name}} </td>
<td>{{fam.Job_Family}}</td>
</tr>
{% endfor %}
</table>
</div>
{% else %}
No Family
{% endif %}
{% endblock %}