{% block content %}
<title>Job role by band</title>
<div class="row">
<div class="col s2">
</div>
<h1>Job role by band</h1>
<form class="form" action="/jobs/viewRoleByBand" method="post">
  <label for="roleInput">Role:</label><br>
  <input type="text" id="roleInput" name="roleInput"><br>
  <input type="submit" id="getRoles" value="Get Roles"><br>
</form>
{% if error != "No Errors" %} 
<span id="errorMessage" style="color: red;">
{{ error }}
</span>  
{% elif roles and roles.length > 0 %}
<table style="margin: auto">
<tr>
<th id="RoleCol">Job Role</th>
<th id="BandCol">Job Band</th>
</tr>
{% for role in roles %}
<tr>
<td id="RoleElement">{{role.Role}}</td>
<td id="BandElement">{{role.RoleBand}}</td>
</tr>
{% endfor %}
</table>
</div>
{% else %}
<span id="errorMessage">Role not found. Ensure the role exists and is spelt correctly</span>
{% endif %}

{% endblock %}