<style>
groupB-error-message {
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    clear: both;
    color: #d4351c;
}
body {
    text-align: center;
}
</style>

{% block content %}
<title> Show Job Roles in hierarchy </title>
<div class="row">
<div class="col s3">
</div>
<h1>List of Job Roles</h1>
{% if jobs and jobs.length > 0 %}
<table style="margin: auto" border="1" id="jobRolesTable">
<tr>
<th><h3>Job Role Name</h3></th>
<th><h3>Band Level</h3></th>
<th><h3>Band Name</h3></th>
</tr>
{% for job in jobs %}
<tr>
<td><a href=http://localhost:3001/jobs/job-roles-spec/{{job.Role_ID}}><div id="{{job.Role_ID}}joblink">{{job.Name}}</div></a></td>
<td>{{job.Level}}</td>
<td>{{job.Name}}</td>

</tr>
{% endfor %}
</table>
</div>
{% else %}
No Job Roles in database.
{% endif %}
{% endblock %}