{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}{% endblock %}
{% block main %}
{% include "../components/navBar.njk" %}

<body>
    <div class= "pageTitle">
      <h2 class= "pageTitle">Add Band</h2><br>
    {% include "../components/bandForm.njk" %}
</body>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} {% endblock %}
