{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}
{% endblock %}
{% block main %}
{% include "../components/navBar.njk" %}

<body>
    <div class= "pageTitle">
        <h2 class="pageTitle">Specification for Job Role</h2>
    </div>
<div class="container">
    {% if jobs and jobs.length > 0 %}
    <table style="margin: auto" border="1" id="jobSpecTable" class="responsive-table">
    <tr>
    <th>Job Role Name</th>
    <th>Specification Summary</th>
    <th>Sharepoint Link</th>
    </tr>
    {% for job in jobs %}
    <tr>
    <td id="roleName">{{job.Name}}</td>
    <td id="specSum">{{job.Spec_Sum}}</td>
    {% if job.Spec_Link == NULL %}
    <td id="noLink">No link Available.</td>
    {% else %}
    <td id="specLink"><a href={{job.Spec_Link}}>Sharepoint Link</a></td>
    {% endif %}
    </tr>
    {% endfor %}
    </table>
    <a href='http://localhost:3001/jobs/job-roles' class="waves-effect green darken-1 btn">Back to Job Role Hierarchy</a>
    {% else %}
    <h1 id="noJobs">No job Specification with that ID</h1>
    {% endif %}
    </div>
    </div>
    </div>
</body>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} {% endblock %}
