{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}{% endblock %}
{% block main %}
{% include "../components/navBar.njk" %}
<body>
    {% if error %} 
            <h2>{{error}}</h2>
            <h3>Please use the navbar to return to the homepage</h3>
    {% endif %}
    </div>
</body>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} {% endblock %}
