{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}{% endblock %}
{% block main %}
<body>
    {% if error %} 
            <h2>{{error}}</h2>
    {% endif %}
            <h2>{{error}}</h2>
    </div>
</body>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} {% endblock %}
