{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}{% endblock %}
{% block main %}
{% include "../components/navBar.njk" %}

<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
<body>
    <div class= "pageTitle">
        <h2 class="pageTitle">Show Job Roles in hierarchy </h2>
    </div>
<div class="container">
{% if jobs and jobs.length > 0 %}
<table style="margin: auto" border="1" id="jobRolesTable">
<tr>
<th><h3>Band Level</h3></th>
<th><h3>Job Role Name</h3></th>
<th><h3>Band Name</h3></th>
</tr>
{% for job in jobs %}
<tr>
<td>{{job.Level}}</td>
<td><a class="tooltipped" data-position="bottom" data-tooltip="Click here to see full Specification for this job" href=http://localhost:3001/jobSpec/{{job.Role_ID}}><div id="{{job.Role_ID}}joblink">{{job.name}}</div></a></td>
<td>{{job.Name}}</td>

</tr>
{% endfor %}
</table>
</div>
{% else %}
No Job Roles in database.
{% endif %}
</body>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} {% endblock %}
