{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}{% endblock %}
{% block main %}
{% include "../components/navBar.njk" %}
<div class="menuRow">
  <p class= "pageTitle">Admin</p>
  <div class="menuContainer">
  <a href="http://localhost:3001/admin/add">
    <div class="menuCard">
        <h4 class="menuText">Create</h4>
    </div>
    </a>
    <a href="http://localhost:3001/admin/edit">
    <div class="menuCard">
        <h4 class="menuText">Edit</h4>
    </div>
    </a>
    <a href="http://localhost:3001/admin/delete">
    <div class="menuCard">
        <h4 class="menuText">Delete</h4>
    </div>
    </a>
  </div>
</div>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} {% endblock %}
