{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}{% endblock %}
{% block main %}
{% include "../components/navBar.njk" %}


<div class="row">
  <div class="column">
    <a href="http://localhost:3001/capabilities/findByJobName">
    <div class="homecard">
        <div class="homeCardContainer">
        <h4>Add Band</h4>
        </div>
    </div>
    </a>
  </div>
  <div class="column">
    <a href="http://localhost:3001/capabilities/findByJobName">
    <div class="homecard">
        <div class="homeCardContainer">
        <h4>Delete Band</h4>
        </div>
    </div>
    </a>
  </div>
  <div class="column">
    <a href="http://localhost:3001/capabilities/findByJobName">
    <div class="homecard">
        <div class="homeCardContainer">
        <h4>Find Job's Capability</h4>
        </div>
    </div>
    </a>
  </div>
  <div class="column">
    <a href="http://localhost:3001/capabilities/findByJobName">
    <div class="homecard">
        <div class="homeCardContainer">
        <h4>Find Job's Capability</h4>
        </div>
    </div>
    </a>
  </div>
  <div class="column">
    <a href="http://localhost:3001/capabilities/findByJobName">
    <div class="homecard">
        <div class="homeCardContainer">
        <h4>Find Job's Capability</h4>
        </div>
    </div>
    </a>
  </div>
    <div class="column">
            <a href="http://localhost:3001/capabilities/findByJobName">
    <div class="homecard">
        <div class="homeCardContainer">
        <h4>Find Job's Capability</h4>
        </div>
    </div>
    </a>
  </div>
  </div>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} {% endblock %}
