{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}{% endblock %}
{% block main %}
{% include "../components/navBar.njk" %}
<title>View Capability Lead</title>
<div class="row">
<div class="col s2">
</div>
<div class= "pageTitle">
        <h2 class="pageTitle">View Capability Lead</h2>
    </div>
<div class="container">
{% if capabilities and capabilities.length > 0 %} 
<table style="margin: auto" border="1" id="viewCapabilityLeadTable">
<th>Capability Name</th>
<th>Job Family</th>
<th>Capability Lead</th>
<th>Message</th>
<th>Lead Image</th>
</tr>
{% for cap in capabilities %}
<tr>
<td id="capName">{{cap.Name}}</td>
<td>{{cap.JobFamily}}</td>
<td id="capLeadName">{{cap.LeadName}}</td>
<td id ="capLeadMessage">{{cap.LeadMessage}}</td>
<td><img src = {{cap.LeadImage}} width = 250 length = 250></td>
</tr>
{% endfor %} 
</table>
{% else %}
<h1 id = "noLeads">No Capability Leads.</h1> 
{% endif %}
</div>
</body>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} 
{% endblock %} 