{% extends './base.njk' %}
{% block pageTitle %}
{% endblock %}
{% block header %}{% include "../components/header.njk" %}{% endblock %}
{% block main %}
{% include "../components/navBar.njk" %}
<div class="menuRow">
  <p class= "pageTitle">Add</p>
  <div class="menuContainer">
    <a href="http://localhost:3001/add/role">
    <div class="menuCard">
        <h4 class="menuText">Role</h4>
    </div>
    </a>
    <a href="http://localhost:3001/admin/edit">
    <div class="menuCard">
        <h4 class="menuText">Band</h4>
    </div>
    </a>
    <a href="http://localhost:3001/admin/delete">
    <div class="menuCard">
        <h4 class="menuText">Capability</h4>
    </div>
    </a>
    <a href="http://localhost:3001/add/family">
    <div class="menuCard">
        <h4 class="menuText">Family</h4>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %} {% include "../components/footer.njk" %} {% endblock %}
